---
import Layout from "../layouts/Base.astro"
import Logo from "../images/logo.svg?raw"
---

<Layout title="JamBon Software">
	<main>
		<Fragment set:html={Logo} />
		<p>2015 – 2019</p>
	</main>
</Layout>

<style>
	main {
		padding: 1vw;
		width: 61%;
		max-width: 30rem;
		font-size: 4vw;
		line-height: 1.61;
		text-align: center;
	}
</style>
